In [4]:
from sodapy import Socrata
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt # Will import when needed... why waste cache

In [22]:
client = Socrata("data.ny.gov", None)

results = client.get("vxuj-8kew", limit=2000) # GET request for today, 24th June

today_df = pd.DataFrame.from_records(results) # Just testing extraction method out

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [23]:
display(today_df)

,date,subways_total_estimated_ridership,subways_of_comparable_pre_pandemic_day,buses_total_estimated_ridersip,buses_of_comparable_pre_pandemic_day,metro_north_total_estimated_ridership,metro_north_of_comparable_pre_pandemic_day,access_a_ride_total_scheduled_trips,access_a_ride_of_comparable_pre_pandemic_day,bridges_and_tunnels_total_traffic,bridges_and_tunnels_of_comparable_pre_pandemic_day,staten_island_railway_total_estimated_ridership,staten_island_railway_of_comparable_pre_pandemic_day,lirr_total_estimated_ridership,lirr_of_comparable_pre_pandemic_day
0,2020-03-01T00:00:00.000,2212965,0.97,984908,0.99,55826,0.59,19922,1.13,786961,0.98,1636,0.52,NaN,NaN
1,2020-03-02T00:00:00.000,5329915,0.96,2209066,0.99,180702,0.66,30338,1.02,874620,0.95,17140,1.07,321569,1.03
2,2020-03-03T00:00:00.000,5481103,0.98,2228608,0.99,190648,0.69,32767,1.1,882175,0.96,17453,1.09,319727,1.02
3,2020-03-04T00:00:00.000,5498809,0.99,2177165,0.97,192689,0.7,34297,1.15,905558,0.98,17136,1.07,311662,0.99
4,2020-03-05T00:00:00.000,5496453,0.99,2244515,1,194387,0.7,33209,1.12,929298,1.01,17203,1.08,307597,0.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1571,2024-06-19T00:00:00.000,3045561,0.54,1062111,0.49,206582,0.7,26431,0.9,969020,0.99,4527,0.28,232540,0.7
1572,2024-06-20T00:00:00.000,3856452,0.69,1252185,0.58,227113,0.77,36445,1.24,1020534,1.04,7217,0.45,255683,0.77
1573,2024-06-21T00:00:00.000,3499541,0.62,1124388,0.52,211543,0.72,34695,1.18,1022507,1.04,6165,0.38,244215,0.73
1574,2024-06-22T00:00:00.000,2378933,0.74,735949,0.53,119962,0.76,21970,1.27,977336,0.99,2740,0.54,133102,1.08
1575,2024-06-23T00:00:00.000,1898663,0.73,583555,0.54,103892,0.95,21789,1.2,953693,1.03,2060,0.53,118067,1.2

In [13]:
print("Columns in df are:")
[print(i, j) for i, j in enumerate(today_df.columns)]

Columns in df are:
0 date
1 subways_total_estimated_ridership
2 subways_of_comparable_pre_pandemic_day
3 buses_total_estimated_ridersip
4 buses_of_comparable_pre_pandemic_day
5 metro_north_total_estimated_ridership
6 metro_north_of_comparable_pre_pandemic_day
7 access_a_ride_total_scheduled_trips
8 access_a_ride_of_comparable_pre_pandemic_day
9 bridges_and_tunnels_total_traffic
10 bridges_and_tunnels_of_comparable_pre_pandemic_day
11 staten_island_railway_total_estimated_ridership
12 staten_island_railway_of_comparable_pre_pandemic_day
13 lirr_total_estimated_ridership
14 lirr_of_comparable_pre_pandemic_day

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [15]:
today_df['date']

0       2020-03-01T00:00:00.000
1       2020-03-02T00:00:00.000
2       2020-03-03T00:00:00.000
3       2020-03-04T00:00:00.000
4       2020-03-05T00:00:00.000
                 ...
1571    2024-06-19T00:00:00.000
1572    2024-06-20T00:00:00.000
1573    2024-06-21T00:00:00.000
1574    2024-06-22T00:00:00.000
1575    2024-06-23T00:00:00.000
Name: date, Length: 1576, dtype: object

## Experimenting with filters in GET request

In [19]:
client = Socrata("data.ny.gov", None)

results = client.get("vxuj-8kew", limit=2000, where='subways_total_estimated_ridership > 2212965') # GET ridership

today_df = pd.DataFrame.from_records(results) # Just testing extraction method out

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [21]:
display(today_df)

,date,subways_total_estimated_ridership,subways_of_comparable_pre_pandemic_day,buses_total_estimated_ridersip,buses_of_comparable_pre_pandemic_day,lirr_total_estimated_ridership,lirr_of_comparable_pre_pandemic_day,metro_north_total_estimated_ridership,metro_north_of_comparable_pre_pandemic_day,access_a_ride_total_scheduled_trips,access_a_ride_of_comparable_pre_pandemic_day,bridges_and_tunnels_total_traffic,bridges_and_tunnels_of_comparable_pre_pandemic_day,staten_island_railway_total_estimated_ridership,staten_island_railway_of_comparable_pre_pandemic_day
0,2020-03-02T00:00:00.000,5329915,0.96,2209066,0.99,321569,1.03,180702,0.66,30338,1.02,874620,0.95,17140,1.07
1,2020-03-03T00:00:00.000,5481103,0.98,2228608,0.99,319727,1.02,190648,0.69,32767,1.1,882175,0.96,17453,1.09
2,2020-03-04T00:00:00.000,5498809,0.99,2177165,0.97,311662,0.99,192689,0.7,34297,1.15,905558,0.98,17136,1.07
3,2020-03-05T00:00:00.000,5496453,0.99,2244515,1,307597,0.98,194387,0.7,33209,1.12,929298,1.01,17203,1.08
4,2020-03-06T00:00:00.000,5189447,0.93,2066743,0.92,289171,0.92,205056,0.74,30970,1.04,945408,1.03,15285,0.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860,2024-06-18T00:00:00.000,3919999,0.7,1309065,0.61,260538,0.78,242116,0.82,36105,1.23,988738,1.01,7713,0.48
861,2024-06-19T00:00:00.000,3045561,0.54,1062111,0.49,232540,0.7,206582,0.7,26431,0.9,969020,0.99,4527,0.28
862,2024-06-20T00:00:00.000,3856452,0.69,1252185,0.58,255683,0.77,227113,0.77,36445,1.24,1020534,1.04,7217,0.45
863,2024-06-21T00:00:00.000,3499541,0.62,1124388,0.52,244215,0.73,211543,0.72,34695,1.18,1022507,1.04,6165,0.38
864,2024-06-22T00:00:00.000,2378933,0.74,735949,0.53,133102,1.08,119962,0.76,21970,1.27,977336,0.99,2740,0.54